<h1>Prueba Atmira Front</h1>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>
        <button [routerLink]="['/info',this.fecha1]">
          2020-09-10
        </button>
      </th>
      <th>
        -
      </th>
      <th>
        <button [routerLink]="['/info',this.fecha2]">
          2020-09-11
        </button>
      </th>
      <th>
        -
      </th>
      <th>
        <button [routerLink]="['/info',this.fecha3]">
          2020-09-12
        </button>
      </th>
    </tr>
    <tr>
      <th>
        <button [routerLink]="['/info',this.fecha4]">
          2020-09-13
        </button>
      </th>
      <th>
        -
      </th>
      <th>
        <button [routerLink]="['/info',this.fecha5]">
          2020-09-14
        </button>
      </th>
      <th>
        -
      </th>
      <th>
        <button [routerLink]="['/info',this.fecha6]">
          2020-09-15
        </button>
      </th>
    </tr>
  </thead>
</table>
